<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.thomasmore.logopedieproject">

    <!-- <uses-sdk android:minSdkVersion="15" /> -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.OverzichtKinderenActivity"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.DetailsKindActivity"
            android:label="@string/title_activity_details_kind"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MetingActivity"
            android:label="@string/title_activity_meting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.NaMetingActivity"
            android:label="@string/title_activity_na_meting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Oefening1Activity"
            android:label="@string/title_activity_oefening1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Oefening2Activity"
            android:label="@string/title_activity_oefening2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Oefening3Activity"
            android:label="@string/title_activity_oefening3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Oefening4Activity"
            android:label="@string/title_activity_oefening4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Oefening5Activity"
            android:label="@string/title_activity_oefening5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.OefeningPreteaching"
            android:label="@string/title_activity_oefening_preteaching"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Oefening61Activity"
            android:label="@string/title_activity_oefening61"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Oefening62Activity"
            android:label="@string/title_activity_oefening62"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Oefening63Activity"
            android:label="@string/title_activity_oefening63"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.OefeningResultaatActivity"
            android:label="@string/title_activity_oefening_resultaat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SessieOverzichtActivity"
            android:label="@string/title_activity_sessie_overzicht"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>